mixin postInfo(page)
  .post-info= full_date(page.date,'MMM Do YYYY')

mixin postPhotos(page)
  if page.photos && page.photos.length
    .post-gallery
      each photo in page.photos
        p
          img(src=url_for(photo))


mixin posts()
  .articles
    - page.posts.each(function(item){
      article.post-block
        +postPhotos(item)
        h2.post-title
          -var title = item.title !== '' ? item.title:__('no title')
          if item.link !== ''
            a.post-link(href=url_for(item.link) target='_blank')=title
          else
            a.post-link(href=url_for(item.path))=title
        +postInfo(item)
        - item.excerpt = generateExcerpt(item, theme.excerpt_length)
        if item.excerpt !== ""
          .post-entry!= item.excerpt
        else
          .post-entry
            != item.content
        .post-meta
          if item.excerpt !== ""
            a(href=url_for(item.path)).article-more= theme.excerpt_link
          if (item.tags && item.tags.length >0)
            .post-tags-box
              i.post-tags-icon.fas.fa-tags
              != list_tags(item.tags,{show_count:false,style:null,saperator:','})
    - })

mixin post(page)
  .post
    article.post-block
      +postPhotos(page)
      -var title = page.title !== '' ? page.title:__('no title')
      h1.post-title
        != title
      +postInfo(page)
      .post-entry
        != page.content
      if (page.tags && page.tags.length >0)
        .post-tags-box
          i.post-tags-icon.fas.fa-tags
          != list_tags(page.tags,{show_count:false,style:null,saperator:','})

mixin postTagList()
  .archive.col-md-8.col-xs-12
    - var posts = site.posts.sort('date',-1)
    - posts.each(function(item){
      -item.tags.each(function(tag){
        if page.tag == tag.name
          .post-item
            -var title = item.title !== '' ? item.title:__('no title')
            if item.link !== ''
              a.post-item-link(href=url_for(item.link) target='_blank')
                span.post-title.col-sm-9.col-xs-12=title
                span.post-date.col-sm-3.col-xs-12=full_date(item.date,'MMM Do YYYY')
              .postList-tags-box
                i.post-tags-icon.fas.fa-tags
                != list_tags(item.tags,{show_count:false,style:null,saperator:','})
            else
              a.post-item-link(href=url_for(item.path))
                span.post-title.col-sm-9.col-xs-12=title
                span.post-date.col-sm-3.col-xs-12=full_date(item.date,'MMM Do YYYY')
              .postList-tags-box
                i.post-tags-icon.fas.fa-tags
                != list_tags(item.tags,{show_count:false,style:null,saperator:','})
      -})
    -})

mixin postList()
  script.
    function yearClicked(node) {
      if($(node).children("i").hasClass("fa-angle-right")) {
        $(node).children("i").removeClass("fa-angle-right").addClass("fa-angle-down");
      } else {
        $(node).children("i").removeClass("fa-angle-down").addClass("fa-angle-right");
      }
    }
  .archive.col-md-8.col-xs-12
    - 
      var years = {}
      site.posts.sort('date').reverse().forEach(function(post){
        var year = post.date.year()
        if(years[year]===undefined){
            years[year] = [];
        }
        years[year].push(post);
      })

    - Object.keys(years).reverse().forEach(function(year){
        .post-item
          span.fa.fa-calendar.archive-tag
            a(href='#'+year, data-toggle="collapse", onclick="yearClicked(this)")
              span.archive-tag-year= year
              i.fas.fa-angle-right
          div(id=year).archive-art-list.collapse
            - years[year].map(function(post){
                .row
                  span.fa.fa-angle-double-right.archive-tag.col-sm-1.col-xs-1
                  -var title = post.title !== '' ? post.title:__('no title')
                  if post.link !== ''
                    a.post-item-link(href=url_for(post.link) target='_blank')
                      span.post-title.col-sm-8.col-xs-8=title
                      span.post-date.col-sm-3.col-xs-3=full_date(post.date,'MMM Do')
                  else
                    a.post-item-link(href=url_for(post.path))
                      span.post-title.col-sm-8.col-xs-8=title
                      span.post-date.col-sm-3.col-xs-3=full_date(post.date,'MMM Do')
            - })
    - })